* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-weight: 300;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(skyscraper.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;

}



.header-text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 400%;
    font-weight: 100;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: color 0.2s,
}

.btn-full {
    background-color: #2ecc71;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost {
    border: 1px solid #2ecc71;
    color: #2ecc71;

}

.btn-ghost:hover,
.btn-full:hover {
    color: #fff;
    background-color: #28b062;
}

.main-nav {
    list-style: none;
}

nav ul {
    position: relative;
    left: 250px;
    float: right;
    margin-right: 200px;
    margin-top: 10px;
    padding-bottom: 5px;
}


.main-nav li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    transition: border-bottom 0.2s;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: white;

}


.main-nav li:hover {
    border-bottom: 1px solid #2ecc71;
}



.diamond-logo {
    position: absolute;
    margin-top: 20px;
    left: 100px;
    top: 10px;
    float: left;
    height: 100px;
    color: #fff;
    font-weight: 300;
    letter-spacing: -4px;
}

/* --------------------------- */
/* SERVICES */
/* --------------------------- */
.services-section {
    margin-left: 50px;
}


.services-title {
    text-align: center;
}

.services-heading {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    padding: 10px 0;
    border-bottom: 2px solid #2ecc71;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 3px;
}


.icon-big {
    color: #2ecc71;
    margin-left: 200px;
    font-size: 250%;
    padding-bottom: 25px;
}

.services-section p {
    width: 420px;
    margin-left: 50px;
    line-height: 150%;
    font-size: 82%;
    padding-bottom: 30px;
    
}